#dv-category {
    border-radius: 2px;
    box-shadow: 0px 0px 2px 1px lightgray;
    margin: 5px 0px 15px 0px;
    padding: 15px
}

.dv-checkbox{
    align-items: center;
    display: inline-flex
}

.dv-checkbox label{
    margin-left: 6px;
}

table td:last-child svg {
    color: #0b5ed7
}