#dv-subcategory {
    border-radius: 2px;
    box-shadow: 0px 0px 2px 1px lightgray;
    margin: 5px 0px 15px 0px;
    padding: 15px;
}

#col-buttons {
    align-items: center;
    display: inline-flex;
}

#col-buttons div {
    margin-top: 15px;
}

#dv-header-label {
    border-bottom: 1px solid #c0c0c0;
    font-weight: 600;
    margin-bottom: 22px;
    padding-bottom: 4px;
}

#tbl-topics td a {
    cursor: pointer;
}

#tbl-topics tr td:last-child svg {
    color: #0b5ed7
}

#modal-add-topic iframe {
    height: 210px;
    width: 100%;
}

#iframe-video {
    display: none;
}

input[name="video"] {
    margin-top: 10px;
    width: 100%
}

#modal-add-topic .fa-spinner {
    color: #0b5ed7;
    display: none;
    font-size: 31px;
    left: 44%;
    position: absolute;
    top: 29%;
}