#dv-subcategory {
    border-radius: 2px;
    box-shadow: 0px 0px 2px 1px lightgray;
    margin: 5px 0px 15px 0px;
    padding: 15px;
}

#col-buttons {
    align-items: center;
    display: inline-flex;
}

#col-buttons div {
    margin-top: 15px;
}